@model List<WebAppDemo.Models.user>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td>id</td>
                    <td>username</td>
                    <td>Email</td>
                    <td>name</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i <= Model.Count() - 1; i++)
                {
                    <tr>
                        <td>@Model[i].id.ToString()</td>
                        <td>@Model[i].username.ToString()</td>
                        <td>@Model[i].email.ToString()</td>
                        <td>@Model[i].name.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
